@{
    ViewBag.Title = "EpMon";
}

@model EpMon.Web.Models.EndpointsOverview

<div class="row">
    <div class="col-md-12">
        <h2 class="mb-2">Endpoints <small class="text-muted" style="">@Model.EndpointsByTag.Sum(x => x.Value.Count) monitored (@DateTime.Now)</small></h2>
        @{
            if (@Model.UnHealthyEndpoints)
            {
                <div class="alert alert-warning" role="alert">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            Not all endpoints are healthy
                            <small class="float-right">Refreshes every minute</small>
                        </h5>
                    </div>                
                </div>
            }
        }

        @foreach (var tag in Model.EndpointsByTag)
        {
            <h3>@tag.Key <small class="text-muted" style="">(@tag.Value.Count)</small></h3>

            <table class="table">

                <thead>
                <tr>
                    <th scope="col">Name</th>
                    @*<td>Tag</td>*@
                    <th scope="col">Type</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Healthy</th>
                    <th scope="col">Last Checked</th>
                </tr>
                </thead>

                @foreach (var endpoint in tag.Value)
                {
                    var lastStat = endpoint.Stats.FirstOrDefault();
                
                    <tr>

                    <td scope="row">
                        @Html.ActionLink(endpoint.Name, "EndpointStats", new { id = endpoint.Id }, null)
                    </td>
                    @*<td>@endpoint.Tags</td>*@
                    <td>@endpoint.CheckType.ToString().Replace("Check", "")</td>
                    <td>@endpoint.CheckInterval min</td>
                    @if (lastStat != null)
                    {
                        if (!lastStat.IsHealthy)
                        {
                            <td class="table-danger">
                                NOK
                           </td>
                        }
                        else
                        {
                            <td class="table-success">
                                OK
                            </td>
                        }
                    }
                    <td>
                        @if (lastStat != null)
                        {
                            @lastStat.TimeStamp.ToLocalTime()
                        }
                    </td>
                </tr>
                }
            </table>

        }
    </div>

</div>